body {
    font-family: Futura, serif;
    color: #271204;
    font-weight: 300;
    background-color: #fff7ec;
  }

.page-title {
  text-align: left;
  font-weight: 100;
}
nav a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  
}
nav a:hover {
  background-color: #fff7e4; 
  color: #231808;
}
nav a.active {
  background-color: #7b4616;
  color: white;
  }